body {
    font-family: jgs5; 
    font-size: 40px;
    background: #858585;
    height: 100vh;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px;
}

.pixellogo {
  margin: 0;
  font-size: 80px;
  color: #000000; /* Set your desired text color */
}

.logoutBtn button {
  font-family: jgs_Font;
  padding: 16px 30px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.logoutBtn button:hover {
  background-color: #333333; /* Set your desired hover background color */
}


button.edit, 
button.delete, 
button.check, 
.managersubmit {
  font-family: jgs_Font;
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  
}

tbody {
  font-family: jgs_Font;
  color:#000;
  font-size: 30px;

}

h1.logo {
color: #000;
-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: jgs5;
font-size: 300px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin: 50px auto; /
}

hr.solid {

  height:1px;
  width: 100%;
  border: 1px solid black;
  background-color: black;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);  /* makes it vertically center */
}

.login {
  text-align:center;

}

.login label,
.login input {
    display: block;
    margin: 10px auto;
    align-items:center;
    width: 300px; 
    height: 40px;
}

.signupPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.closesignupcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.register {
  display: none;
  position: fixed;
  align-items: center;
  left: 50%;
  top: 5%;
  padding: 20px;
  transform: translate(-50%, 5%);
  border: 3px solid black;
  z-index: 9;
  background-color: white;
}

.register button, 
.openSignup button, 
.login-btn {
  font-family: jgs_Font;
  padding: 5px 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}


.openSignup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.register button:hover, 
.login-btn:hover, 
.openSignup button:hover, 
.managersubmit:hover {
  background-color: #333333;
}

.logincontainer {
  margin-top:200px;
}



.pwmanagerform {
  text-align: center;
  margin-top: 5px; 
  display: block;
}





/* div.cursor {
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 10px; 
    height: 10px;
    background-color: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.25s, height 0.25s;
}

div.cursor.is-clicked {
    width: 80px;
    height: 80px;
}

canvas {
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
} */

tr.tableinfo {
    color: #FFF;
    font-family: jgs_Font;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

table {
    justify-content: flex;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the margin as needed for vertical spacing */
  }
  
  th, td {
    padding: 10px; /* Adjust the padding for spacing within cells */
    border: 1px solid #000000; 
  }
  
/* div.register {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: white;
} */

div.managerstable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;

  }


